{# Table (desktop) #}
<div class="responsive-table">
  <div class="table-wrapper">
    <table>
      {% for row in table.rows %}
        <tr {{ row.attributes }}>
          {% for cell in row.cells %}
            {% if cell.header %}
              <th {{ cell.attributes }}>{{ cell.text }}</th>
            {% else %}
              <td {{ cell.attributes }}>{{ cell.text }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      <caption>
        {{ caption }}
      </caption>
    </table>
  </div>
</div>

{# Fixed column with swiper (mobile) #}
<div class="table-swiper-wrapper">
    <div class="table-swiper">
        <div class="table-swiper__fixed-column">
            <dl>
                {% if table.columns[0].header is defined and table.columns[0].header.text is not empty %}
                    <dt class="column-header">{{ table.columns[0].header.text }}</dt>
                {% endif %}

                {% for cell in table.columns[0].cells %}
                    {% set rowIndex = loop.index0 %}
                    {% if cell.header %}
                        <dt {{ cell.attributes }} class="cell-row" data-row-index="{{ rowIndex }}">{{ cell.text }}</dt>
                    {% else %}
                        <dd {{ cell.attributes }} class="cell-row{% if rowIndex is odd %} row-even{% endif %}" data-row-index="{{ rowIndex }}">{{ cell.text }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        </div>

        <div class="swiper">
            <div class="swiper-wrapper">
                {% for column in table.columns|slice(1) %}
                    <div class="swiper-slide">
                        <dl>
                            {% if column.header %}
                                <dt class="column-header">{{ column.header.text }}</dt>
                            {% endif %}
                            {% for cell in column.cells %}
                                {% set rowIndex = loop.index0 %}
                                <dd
                                        {{ cell.attributes }}
                                        class="cell-row{% if rowIndex is odd %} row-even{% endif %}"
                                        data-row-index="{{ rowIndex }}"
                                >
                                    {{ cell.text }}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev custom-prev">
            <i class="icon icon-arrow-left"></i>
        </div>
        <div class="swiper-button-next custom-next">
            <i class="icon icon-arrow-right"></i>
        </div>
    </div>
    <div class="caption">{{ caption }}</div>
</div>
